/*
declaration block:

selector{
    property: value;
    property2: value;
}
*/

body{
    background-color: #04a86f;
    color: #000200; 
    overflow: hidden;  /* Prevents meme image from scrolling off-screen*/   
     display: flex;
    flex-direction: row;   /* nav on the left, main on the right */
    align-items: flex-start; 
}

nav{
    height: auto;
    min-height: 150px;
    width: 200px;
    float: left;
    padding: 5px;
    line-height: 30px;
    background-color: #04a86f;
    color: #eff1ef;
    text-align: center;
    font-weight: bolder;
    /* clean border+ rounded corners */
    border: 3px solid #000300;
    border-radius: 10px;
    /*subtle shadow for depth*/
    box-shadow: 0px, 0px, 10px, rgba(0, 0, 0, 0.35);
   
}

main {
    max-width: 700px;   /* keeps your text in a clean column */
    margin: 0 auto;     /* centers the whole block */
    padding: 20px;
}


h1{
    text-align: center;
    color: #000300;
    font-family: 'Courier New', Courier, monospace;
}

footer{
    position: fixed;         /* fixed position */
    bottom: 20px;          /* stick to botttom */
    left: 20px;            /*align under nav */
    text-align: left;      /* no centering */
    font-weight: italic;
    color: #000300;
    /* background for readability */
    background-color: rgba(4, 168, 111, 0.35);
    /* padding for spacing */
    padding: 10px, 15px;
    /* rounded corners for aesthetics */
    border-radius: 8px;
    /* subtle shadow for depth */
    box-shadow: 0px, 0px, 10px, rgba(0, 0, 0, 0.35);
   
}

/* Changed memeImage to be positioned absolute so that movement is not blocked */
#memeImage{   
    width: 400px;
    max-width: 100%;
    height: 225px;
    border-radius: 16px;
    position: absolute;
    left: 250px;  /* Starting X position - moves right of nav */
    top: 150px;   /* Starting Y position - moves below header */
    z-index: -1;  /* sends image behind other elements */
}

